//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	width: 100%;
	outline: none;

	display: flex;
	padding: rem(20);
	align-items: flex-start;
	align-self: stretch;
	border-radius: 20px;
	background: #F1F1F1;
	border: 2px solid transparent;
	

	color: $mainColor;
	@include adaptiveValue("font-size", 18, 15,0,1440,768);
	font-weight: 500;
	line-height: 1.2;
	transition: all .3s ease;
	&._form-focus {
		border: 2px solid #48799A;
	}
	&._form-error {
	}
}
.input[placeholder]:not([data-placeholder-nohiden]) {
	&::placeholder {
		transition: opacity 0.3s;
		color: rgba(0, 0, 0, 0.20);
		@media (max-width: em(900.98)){
			  color: $mainColor;
				font-weight: 600;
				white-space:normal;
				// opacity: 0;
		}
	}
	&:focus::placeholder {
		opacity: 0;
	}
}


textarea.input {
	resize: none;
	min-height: rem(142);
	@media (max-width:em(900.98)){
		 min-height: rem(68); 
	}
}


.form {
	
	// .form__item
	&__item {
		position: relative;
		@include adaptiveValue("margin-bottom", 40,20,0,1440,768 );
	}
	// .form__label
	&__label {
		display: block;
		color: $mainColor;
		@include adaptiveValue("font-size", 22, 15,0,1440,768);
		font-weight: 600;
		margin-bottom: rem(15);
		line-height: normal;
		transition: all 0.3s ease;
		img {
			width: rem(22);
			@include adaptiveValue("width", 22, 17,0,1440,768);
			height: auto;
		}
		// &.label-text {
			@media (max-width: em(900.98)){
				display: none;
				  // position: absolute;
					// top: 50%;
					// transform: translateY(-50%);
					// left: rem(20);
					// pointer-events: none;
					// padding-right: rem(20);
					// ._form-focus & {
					// 	opacity: 0;
					// }
			}
		// }
		&.label-phone {
			@media (max-width: em(900.98)){
				  
			}
		}
	}
	// .form__input
	&__input {
		&.input-text {

		}
		&.input-phone {
			@media (max-width: em(900.98)){
				  height: rem(68);
			}
		}
	}
	// .form__btn
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: 100%;
		padding: rem(26);
		border-radius: rem(60);
		
		color: #FFF;
		text-align: center;
		@include adaptiveValue("font-size", 26, 16, 0, 1440, 480);
		font-weight: 700;
		text-transform: uppercase;
	}
}
