// ----------------------------------------
// == OTHER CLASSES ===========================================
// ----------------------------------------
.main-title {
  text-align: center;
  font-size: 40px;
  @include adaptiveValue("font-size", 40, 24,0,1920,768);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  padding: rem(26);
  border-radius: rem(60);
  
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;

  transition: all .45s ease-in-out;

  &_first {
    background: linear-gradient(180deg, #487A9B 0%, #33506E 100%);
    box-shadow: 0px 5px 10px 0px rgba(32, 160, 252, 0.30);
  }

  &_second {
    background: linear-gradient(180deg, #E6E058 15.28%, #BD9120 70.39%);
    box-shadow: 5px 11px 0px 0px #33506E;
    &:hover {
      background: linear-gradient(180deg, #487A9B 0%, #33506E 100%), linear-gradient(180deg, #E6E058 15.28%, #BD9120 70.39%);
      box-shadow: 5px 11px 0px 0px #FFF;
      transform: scale(1.05);
    }
  }
}
// ----------------------------------------
// == 01 MAIN SECTION ===========================================
// ----------------------------------------
.main {
  position: relative;
  @media (min-height: em(900.98)) {
    display: flex;
    align-items: center;
  }
	// .main__bg
	&__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
	}
	// .main__bg-img
	&__bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    max-height: rem(1000);
    // width: 100%;
    object-fit: contain;
    pointer-events: none;
    transition: all 1s ease;
    opacity: 0;

    .loaded & {
      opacity: 1;
      transition-delay: 0.45s;
    }
    &.bg-pc-left {
      left: 0;
      transform: translateX(-100%);
      .loaded & {
        transform: translateX(0%);
      }
      @media (max-width: em(1366.98)) and (min-height: em(750.98)){
        left: -15%;
      }
      @media (max-width: em(1366.98)) and (min-height: em(1100.98)){
        left: -25%;
      }
      @media (max-width: em(1200.98)) and (min-height: em(500.98)){
        left: -15%;
      }
      @media (max-width: em(1200.98)) and (min-height: em(950.98)){
        left: -35%;
      }
      @media (max-width: em(900.98)) and (min-height: em(320.98)){
        left: -35%;
      }
      @media (max-width: em(900.98)) and (min-height: em(900.98)){
        left: -50%;
      }
      @media (max-width: em(768.98)) and (min-height: em(320.98)){
        left: -60%;
      }
      @media (max-width: $mobile){
          display: none;
      }
    }

    &.bg-pc-left-a {
      display: none;
      @media (max-width:$mobile){
         display: block; 
         transform: translateX(-100%);
         .loaded & {
           transform: translateX(0%);
         }
      }
      @media (max-width: em(768.98)) and (min-height: em(320.98)){
        left: -50%;
      }
      @media (max-width: em(650.98)){
        display: none;
      }
    }

    &.bg-pc-right {
      right: 0;
      transform: translateX(100%);
      .loaded & {
        transform: translateX(0%);
      }
      @media (max-width: em(1366.98)) and (min-height: em(750.98)){
        right: -15%;
      }
      @media (max-width: em(1366.98)) and (min-height: em(1100.98)){
        right: -25%;
      }
      @media (max-width: em(1200.98)) and (min-height: em(500.98)){
        right: -15%;
      }
      @media (max-width: em(1200.98)) and (min-height: em(950.98)){
        right: -35%;
      }
      @media (max-width: em(900.98)) and (min-height: em(320.98)){
        right: -35%;
      }
      @media (max-width: em(900.98)) and (min-height: em(900.98)){
        right: -50%;
      }
      @media (max-width: em(768.98)) and (min-height: em(320.98)){
        right: -60%;
      }
      @media (max-width: em(650.98)){
        display: none;
      }
    }

    &.bg-mob {
      display: none;
      @media (max-width: em(650.98)){
        display: block;
        width: 100%;
        height: unset;
        max-height: unset;
        transform: scale(1.5);
        .loaded & {
          transform: scale(1);
        }
      }
    }
    &.bg-mob-top {
      top: 0%;
      
    }
    &.bg-mob-av {
      top: 20%;
    }
    &.bg-mob-bottom {
      bottom: 0;
      top: unset;
    }
	}

	// .main__container
	&__container {
    position: relative;
    width: 100%;
    padding-top: rem(20);
    @include adaptiveValue("padding-bottom", 46, 70,0,1920,768);
    @include adaptiveValue("padding-bottom", 70, 50,3,768,360);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    @media (max-width: em(650.98)){
      height: 100%;
    }
	}
	// .main__head
	&__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: rem(30);
      @media (max-width:$mobileSmall){
         margin-bottom: rem(57); 
      }
    }
	}
	// .main__logo
	&__logo {
    @include adaptiveValue("width", 100, 80,0,1920,1440);
    @include adaptiveValue("width", 80, 50,3,768,360);
    height: auto;
    margin-bottom: rem(25);

    transition: all .45s ease;
    opacity: 0;

    .loaded & {
      opacity: 1;
      transition-delay: 0.9s;
    }
    
    @media (max-width: em(1440.98)){
        margin-bottom: rem(15);
    }
    @media (max-width:$mobileSmall){
      //  margin-bottom: rem(10); 
    }
	}
	// .main__title
	&__title {
    text-align: center;
    font-family: "DS_Rada";
    font-style: normal;
    font-weight: 400;
    line-height: 0.7;
    @include adaptiveValue("margin-bottom", 30, 25,0,1920,1440);
    @include adaptiveValue("margin-bottom", 30, 25, 3, 768,360);
    span {
      display: inline-block;
      transition: all .45s ease;
      opacity: 0;
      transform: translateY(100%);
      .loaded & {
        opacity: 1;
        transform: translateY(0);
        &:nth-child(1) {
          transition-delay: 1.1s;
        }
        &:nth-child(3) {
          transition-delay: 1.25s;
        }
      }
    }
		// .main__title_big
		&_big {
      @include adaptiveValue("font-size", 160, 92,0,1920,768);
      @include adaptiveValue("font-size", 92,62,3,768,360);
      @include adaptiveValue("font-size", 62, 56,3,360,320);
      color: $accentColor;
		}
		// .main__title_small
		&_small {
      color: $accentColor-02;
      @include adaptiveValue("font-size", 60, 54,0,1920,768);
      @include adaptiveValue("font-size", 54, 36,3,768,360);
      @include adaptiveValue("font-size", 36, 32,3,360,320);
		}
	}
	// .main__subtitle
	&__subtitle {
    text-align: center;
    @include adaptiveValue("font-size", 24, 20,0,1920,768);
    @include adaptiveValue("font-size", 20, 16,3,768,360);
    font-weight: 700;
    text-transform: uppercase;

    opacity: 0;
    transform: translateY(100%);
    transition: all .45s ease;
    .loaded & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.4s;
    }

    @media (max-width: em(1330.98)){
        max-width: rem(450);
    }
    @media (max-width: em(630.98)){
        max-width: rem(300);
    }
	}
	// .main__images
	&__images {
	}
	// .main__button
	&__button {
    width: 100%;
    opacity: 0;
    transition: all 1.5s ease;

    .loaded & {
      transition-delay: 2.2s;
      opacity: 1;
    }
    @media (max-width: em(1366.98)){
        padding-bottom: rem(50);
    }
	}
	// .main__btn
	&__btn {
    max-width: rem(360);
    margin: 0 auto;
    
 
	}
}

.img-main {
  position: relative;
  width: 100%;
  max-width: rem(1000);
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 14, 25,0,1920,768);
    @include adaptiveValue("margin-bottom", 25, 8,3,768,360);
  }
  // .img-main__gift
  &__gift {
    position: absolute;
    
    top: rem(-57);
    left: rem(-75);
    width: auto;
    z-index: 0;
    height: rem(250);
    @include adaptiveValue("height", 250, 215,0,769,768);
    @include adaptiveValue("height", 215, 115,3,768,360);

    opacity: 0;
    transition: all 1s ease;
    transform: translateY(-100%);

    .loaded & {
      transition-delay: 1.8s;
      opacity: 1;
      transform: translateY(0); 
    }

    @media (max-width:em(1024.98)){
       left: rem(-43);
       top: rem(-72); 
    }
    @media (max-width:$mobileSmall){
       top: rem(-50); 
       left: rem(20);
    }
  }
  // .img-main__pack
  &__pack {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: rem(630);
    z-index: 1;

    transition: all .7s ease;
    transform: translateY(50%);

    .loaded & {
      transform: translateY(0);
      transition-delay: 1.5s;
    }

    @media (max-width:$mobile){
       max-width: rem(565); 
    }
  }
  // .img-main__pack-01
  &__pack-01 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    @include adaptiveValue("height", 282, 295,0,769,768);
    @include adaptiveValue("height", 295, 158,3,768,360);

    opacity: 0;
    transition: all .6s ease;
    transform: translateX(50%) translateY(-30%) rotate(0deg);

    .loaded & {
      opacity: 1;
      transform: translateX(0) translateY(0) rotate(-15deg);
      transition-delay: 1.6s;
    }

    @media (max-width: em(600.98)) {
        left: rem(20);
    }
    @media (max-width:$mobileSmall) {
       bottom: rem(15); 
    }
  }
  // .img-main__pack-02
  &__pack-02 {
    width: auto;
    position: relative;
    z-index: 2;
    @include adaptiveValue("height", 350, 390,0,769,768);
    @include adaptiveValue("height", 390, 209,3,768,360);

    opacity: 0;
    transition: all .3s ease;

    .loaded & {
      opacity: 1;
      transition-delay: 1.5s;
    }
  }
  // .img-main__pack-03
  &__pack-03 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    transform: rotate(15deg);
    @include adaptiveValue("height", 282, 295,0,769,768);
    @include adaptiveValue("height", 295, 158,3,768,360);

    opacity: 0;
    transition: all .6s ease;
    transform: translateX(-50%) translateY(-30%) rotate(0deg);

    .loaded & {
      opacity: 1;
      transform: translateX(0) translateY(0) rotate(15deg);
      transition-delay: 1.6s;
    }

    @media (max-width: em(600.98)){
      right: rem(20);
    }
    @media (max-width:$mobileSmall){
      bottom: rem(15); 
    }
  }
  // .img-main__smile
  &__smile {
    position: absolute;
    top: rem(-7);
    right: rem(-22);
    z-index: 2;

    opacity: 0;
    transition: all .8s ease;
    transform: scale(0);

    .loaded & {
      opacity: 1;
      transform: scale(1);
      transition-delay: 1.8s;
    }

    @media (max-width:em(1024.98)){
      top: rem(-50); 
      right: 0; 
    }
    @media (max-width:$mobileSmall){
       top: rem(-40);
       right: rem(20); 
    }
  }
  // .img-main__smile-icon
  &__smile-icon {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: auto;
    @include adaptiveValue("width", 49, 53,0,1920,768);
    @include adaptiveValue("width", 53, 32,3,768,360);
    @media (max-width:$mobile){
       bottom: unset;
       top: rem(20); 
    }
    @media (max-width:$mobileSmall){
       top: rem(10); 
    }
  }
  // .img-main__circle
  &__circle {
    height: auto;
    @include adaptiveValue("width", 187, 200,0,1920,768);
    @include adaptiveValue("width", 200, 100,3,768,360);
    filter: drop-shadow(7px 7px 0px #FFF);
    @media (max-width:$mobileSmall){
      filter: drop-shadow(4px 4px 0px #FFF);
    }
  }
}

// ----------------------------------------
// == 02 MAP SECTION ===========================================
// ----------------------------------------
.map {
  position: relative;
  padding-bottom: rem(100);
  @media (min-height: em(900.98)) {
    display: flex;
    align-items: center;
  }
 
		// .map__bg
		&__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
		}
		// .map__bg-line
		&__bg-line {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;
      transition: all .65s ease;

      .active-section & {
        opacity: 1;
        transition-delay: 0.5s;
      }

      @media (min-width:em(1919.98)){
          width: 100%;
          object-fit: contain;
      }
		}
		// .map__bg-img
		&__bg-img {
      position: absolute;
      z-index: -1;
      pointer-events: none;
      top: 0;
      height: 100%;
      max-height: rem(1000);
      object-fit: contain;

      opacity: 0;
      transition: all 1s ease;

      &.anim-left {
        transform: translateX(-100%);
        .active-section & {
          transition-delay: 0.5s;
          transform: translateX(0);
          opacity: 1;
        }
      }
      &.anim-right {
        transform: translateX(100%);
        .active-section & {
          transition-delay: 0.5s;
          transform: translateX(0);
          opacity: 1;
        }
      }
     
      &.img-bg-pc-left {
        left: 0;
        @media (max-width: em(1600.98)) and (min-height: em(1000.98)){
           display: none;
        }
        @media (max-width: em(1366.98)){
            display: none;
        }
      }
      &.img-bg-pc-right {
        right: 0;
          @media (max-width: em(1600.98)) and (min-height: em(1000.98)){
           display: none;
        }
        @media (max-width: em(1366.98)){
            display: none;
        }
      }
      &.img-bg-tab-left {
        display: none;
         @media (max-width: em(1600.98)) and (min-height: em(1000.98)){
          left: 0;
          display: block;
         }
         @media (max-width:em(1366.98)){
          left: 0;
          display: block;
         }
          @media (max-width: $mobileSmall){
          display: none;
          }
      }
      &.img-bg-tab-right {
        display: none;
         @media (max-width: em(1600.98)) and (min-height: em(1000.98)){
          right: 0;
          display: block;
         }
         @media (max-width:em(1366.98)){
          right: 0;
          display: block;
         }
          @media (max-width: $mobileSmall){
          display: none;
          }
      }
		}


  // .map__container
  &__container {
    position: relative;
    width: 100%;

    @media (min-height:em(1000.98)){
        // height: 100%;
    }
    @media (min-width: em(679.98)) and (max-width: em(1500.98)) and (min-height:em(850.98)){
        height: 100%;
    }
    @media (max-width:$mobileSmall) and (min-height:em(600.98)) {
        height: 100%;
    }
 
  }
   // .map__content
  &__content {
    max-width: rem(1046);
    margin: 0 auto;

  }
	// .map__title
	&__title {
    color: $accentColor;
    @include adaptiveValue("padding-top", 132, 115,0,768,360);
    @include adaptiveValue("margin-bottom", 25, 20,0,1920,1366);

    opacity: 0;
    transform: translateY(50%);
    transition: all .6s ease;
    .active-section & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.2s;
    }
  }
	// .map__subtitle
	&__subtitle {
    @include adaptiveValue("margin-bottom", 53, 42,0,1366,360);
    text-align: center;
    @include adaptiveValue("font-size", 24, 16,0,1920,1366);
    font-weight: 600;
    text-transform: uppercase;
    max-width: rem(672);
    margin-left: auto;
    margin-right: auto;

    opacity: 0;
    transform: translateY(100%);
    transition: all .75s ease;
    .active-section & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 1.5s;
    }
    @media (max-width: em(1366.98)){
        max-width: rem(525);
    }
	}
	// .map__body
	&__body {
    position: relative;
	}
  // .map__map
  &__map {
    width: 100%;
    max-width: rem(913);
    margin: 0 auto;
    position: relative;
    padding: 0 rem(25);
    @media (max-width: em(702.98)){
        margin-bottom: rem(45);
    }
    @media (max-width:$mobileSmall){
       padding: 0; 
    }
  }
  // .map__map-svg
  &__map-svg {
    opacity: 0;
    transition: all .95s ease;
    transform: scale(1.05);
    .active-section & {
      opacity: 1;
      transform: scale(1);
      transition-delay: 1.8s;
    }
  }
	// .map__text
	&__text {
    position: absolute;
    left: 0;
    // bottom: 0;
    @include adaptiveValue("bottom", 114,90,0,1920,768 );
    @include adaptiveValue("bottom", 10, 0,3,702,700);
    width: 100%;
    max-width: rem(346);
    @include adaptiveValue("max-width", 346, 274,0,1920,768);
    @include adaptiveValue("max-width", 274,700,3,702,700 );
    display: flex;
    gap: rem(7);
    @media (max-width: em(702.98)){
        position: relative;
    }
	}
	// .map__text-img
	&__text-img {
    img {
      transition: all .6s ease;
      opacity: 0;
      transform: translateY(100%);

      .active-section & {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 2.2s;
      }

      width: rem(29);
      height: auto;
    }
	}
	// .map__txt
	&__txt {
    @include adaptiveValue("font-size", 17, 14,0,1920,768);
    font-weight: 500;
    line-height: 1.3;

    transition: all .75s ease;
    opacity: 0;
    transform: translateY(50px);

    .active-section & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 2.3s;
    }
	}
	// .map__rotate
	&__rotate {
	}
}

.rotate-map {
  display: none;
  @media (max-width:$mobileSmall){
    display: block; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -78%);
    opacity: 0;
    transition: all 0.3s ease;
    .active-section & {
      opacity: 1;
      transition-delay: 2.7s;
    }
  }
		// .rotate-map__body
		&__body {
      display: flex;
      width: rem(260);
      padding: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      background: #FFF;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
		}
		// .rotate-map__img
		&__img {
		}
		// .rotate-map__txt
		&__txt {
      font-size: rem(14);
      font-style: normal;
      font-weight: 500;
      line-height: 1.3;
		}
}
.svg-image {
  scale: 0.5;
  pointer-events: none;
}
.svg-map {
  width: 100%;
  height: auto;
  path {
    fill: #B79B52;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      fill: #487A9B;
    }
  }
  @media (max-width:$mobileSmall){
    //  pointer-events: none; 
  }
  // .svg-map__name
  &__name {
    fill: white;
    pointer-events: none;
    font-weight: 600;
    &.lutsk {
      font-size: rem(16);
    }
    &.lviv {
      font-size: rem(16);
    }
    &.uzhgorod {
      font-size: rem(16);
    }
    &.rivne {
      font-size: rem(15.8);
    }
    &.ternopil {
      font-size: rem(10);
    }
    &.frankivsk {
      font-size: rem(9.33);
    }
    &.chernivtsi {
      font-size: rem(10.76);
    }
    &.khmelnytskyi {
      font-size: rem(8.02);
    }
    &.zhytomyr {
      font-size: rem(15.79);
    }
    &.vinnytsia {
      font-size: rem(18.81);
    }
    &.odesa {
      font-size: rem(15);
    }
    &.kyiv {
      font-size: rem(22.36);
    }
    &.cherkasy {
      font-size: rem(18.48);
    }
    &.kropyvnytskyi {
      font-size: rem(15);
    }
    &.mykolaiv {
      font-size: rem(14.21);
    }
    &.kherson {
      font-size: rem(22.12);
    }
    &.simferopol {
      font-size: rem(15);
    }
    &.chernihiv {
      font-size: rem(19.81);
    }
    &.poltava {
      font-size: rem(19.93);
    }
    &.dnipro {
      font-size: rem(15);
    }
    &.zaporizhzhia {
      font-size: rem(15);
    }
    &.sumy {
      font-size: rem(15);
    }
    &.kharkiv {
      font-size: rem(19.81);
    }
    &.donetsk {
      font-size: rem(12);
    }
    &.luhansk {
      font-size: rem(12);
    }
    

  }
}


// ----------------------------------------
// == 03 GIFT SECTION ===========================================
// ----------------------------------------
.gift {
  background: radial-gradient(35.70% 72.16% at 50.00% 50.00%, #487A9B 0%, #33506E 99.73%);
  @media (min-width: em(600.98)) and (min-height: em(900.98)) {
    display: flex;
    align-items: center;
  }
  // .gift__container
  &__container {
    position: relative;
    width: 100%;
 
  }
  // .gift__bg
  &__bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  // .gift__bg-img
  &__bg-img {
    position: absolute;
    z-index: -1;
    top: rem(10);
    height: 100%;
    max-height: rem(1000);
    object-fit: contain;
    pointer-events: none;

    opacity: 0;
    transition: all 1s ease;


    @media (max-width: em(600.98)){
        display: none;
    }
    &.img-bg-left {
      left: rem(20);
      transform: translateX(-100%) scale(1.1);
      .active-section & {
        opacity: 1;
        transform: translateX(0) scale(1);
        transition-delay: 0.5s;
      }
    }
    &.img-bg-right {
      right:rem(20);
      transform: translateX(100%) scale(1.1);
      .active-section & {
        opacity: 1;
        transform: translateX(0) scale(1);
        transition-delay: 0.5s;
      }
    }
  }
  // .gift__title
  &__title {
    @include adaptiveValue("padding-top", 75, 50,0,1920,768);
    color: $secondColor;

    opacity: 0;
    transition: all .6s ease;
    transform: translateY(50%);
    .active-section & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: .75s;
      @media (max-width: em(600.98)){
          transition-delay: 0.5s;
      }
    }

    @media (max-width: em(600.98)){
        margin-bottom: rem(30);
    }
  }
	// .gift__lable
	&__lable {
	}

  // .gift__box
  &__box {
    max-width: rem(1485);
    position: relative;
    z-index: -1;
    bottom: rem(-5);
    @media (max-width: em(1200.98)){
     margin-top: rem(45);     
    }
    @media (max-width: em(1024.98)){
        margin-top: rem(97);
    }
    @media (max-width: em(600.98)){
        margin-left: rem(-14.5);
        margin-right: rem(-14.5);
        overflow: hidden;
        margin-top: rem(30);
        // padding-bottom: rem(30);
    }
  }
	// .gift__btn-body
	&__btn-body {
    position: absolute;
    right: rem(120);
    bottom: rem(100);

    opacity: 0;
    transform: translateY(-100%);
    transition: all .7s ease;
    @media (max-width: em(600.98)){
        transform: translateY(100%);
    }
    .active-section & {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 2.65s;
      @media (max-width: em(600.98)){
        transition-delay: 1.15s;
      }
    }

    @media (max-width: em(1330.98)){
     bottom: unset;
     top: rem(145);   
     right: rem(45);
    }
    @media (max-width:$mobile){
       top: rem(125); 
    }
    @media (max-width: em(600.98)){
      position: relative;
      right: unset;
      top: unset;
    }
	}
  // .gift__btn
  &__btn {
    width: fit-content;
    max-width: rem(380);
    box-shadow: 5px 11px 0px 0px #FFF;
    line-height: 1.2;
    @include adaptiveValue("padding-top", 26,20,0,1920,768);
    @include adaptiveValue("padding-bottom", 26,20,0,1920,768);
    padding-left: rem(26);
    padding-right: rem(26);
    @include adaptiveValue("font-size", 20, 14,0,1920,768);
    @media (max-width: em(600.98)){
        width: 100%;
        max-width: rem(400);
        margin: 0 auto;
    }
  }
}

.lable-gift {
  @media (max-width: em(600.98)){
      margin-bottom: rem(30);
     
  }
  // .lable-gift__item
  &__item {
    position: absolute;
    border-radius: 23.011px;
    @include adaptiveValue("border-radius", 38, 23,0,1920,768);
    @include adaptiveValue("border-radius", 23, 20,3,768,480);
    background: #FFF;
    @include adaptiveValue("padding-top", 18, 11,0,1920,768);
    @include adaptiveValue("padding-top", 11, 18,3,768,480);
    @include adaptiveValue("padding-right", 20, 12,0,1920,768);
    @include adaptiveValue("padding-right", 12, 20,3,768,480);
    @include adaptiveValue("padding-left", 20, 12,0,1920,768);
    @include adaptiveValue("padding-left", 12, 20,3,768,480);
    @include adaptiveValue("padding-bottom", 16, 8,0,1920,768);
    @include adaptiveValue("padding-bottom", 8, 18,3,768,480);
    width: 100%;
    @include adaptiveValue("max-width", 325, 196,0,1920,768);
    @include adaptiveValue("max-width", 196,400,3,601,600 );
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: all .7s ease;
 
    @media (max-width: em(600.98)){
        position: relative;
        justify-content: flex-start;
        column-gap: rem(20);
        height: rem(90);
        width: 100%;
        margin: 0 auto;

        transform: translateY(50%);;


        &:not(:last-child) {
          margin-bottom: rem(10);
        }
    }
    &.item-lable-01 {
      top: 50%;
      left: 20%;
      .active-section & {
        opacity: 1;
        transition-delay: 2.1s;
        @media (max-width: em(600.98)){
          transform: translateY(0);
            transition-delay: 0.65s;
        }
      }
      @media (max-width: em(1440.98)){
          left: 30%;
      }
      @media (max-width: em(1200.98)){
        top: 56%;  
        left: 15%;
      }
      @media (max-width:$mobile){
         top: 60%;
         left: 10%; 
      }
      @media (max-width: em(700.98)){
          left: 5%;
          top: 63%;
      }
      @media (max-width: em(600.98)){
          left: unset;
          top: unset;
      }
      .lable-gift__txt {
        max-width: rem(200);
        @media (max-width: em(600.98)){
            max-width: 100%;
        }
      }
    }
    &.item-lable-02 {
      top: 34%;
      right: 18%;
      .active-section & {
        opacity: 1;
        transition-delay: 2.3s;
        @media (max-width: em(600.98)){
          transform: translateY(0);
          transition-delay: 0.8s;
        }
      }
      @media (max-width: em(1330.98)){
        top: 45%;
        right: 10%;
      }
      @media (max-width: em(992.98)){
          top: 45%;
          right: 10%;
      }
      @media (max-width: em(700.98)){
          top: 48%;
          right: 1%;
      }
      @media (max-width: em(600.98)){
        right: unset;
        top: unset;
      }
    }
    &.item-lable-03 {
      top: 61%;
      left: 50%;
      .active-section & {
        opacity: 1;
        transition-delay: 2.5s;
        @media (max-width: em(600.98)){
          transform: translateY(0);
          transition-delay: 0.95s;
        }
      }
      @media (max-width: em(1440.98)){
          top: 63%;
      }
      @media (max-width: em(1200.98)){
          top: 77%;
      }
      @media (max-width: em(700.98)){
          top: 80%;
      }
      @media (max-width: em(600.98)){
        left: unset;
        top: unset;
      }
      .lable-gift__txt {
        max-width: rem(250);
        @media (max-width: em(600.98)){
          max-width: 100%;
      }
      }
    }
  }
  // .lable-gift__img
  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    @include adaptiveValue("width", 38, 23,0,1440,768);
    @media (max-width: em(600.98)){
        position: relative;
        left: unset;
        transform: unset;
    }
  }
  // .lable-gift__txt
  &__txt {
    text-align: center;
    @include adaptiveValue("font-size", 16, 11,0,1920,768);
    font-weight: 600;
    line-height: 1.3;
    @media (max-width: em(600.98)){
        text-align: left;
    }
  }
}

.box-gift {
  width: 100%;
  height: auto;
  position: relative;
  @media (max-width: em(1200.98)){
      left: -12%;
  }
  @media (max-width: em(600.98)){
    width: 200%;
    left: -72%;   
  }
		// .box-gift__img
		&__img {
      transition: all .7s ease;

      @media (max-width: em(600.98)){
          opacity: 0;
          .active-section & {
            opacity: 1;
            transition-delay: 1.3s;
          }
      }

      &.img-box-01 {
        transform: scale(0.5);
        @media (min-width:em(600.98)){
          opacity: 0;
          .active-section & {
            opacity: 1;
            transition-delay: 1.3s;
          }
        }
      }
      &.img-box-02 {
        transform: scale(0.5);
        @media (min-width:em(600.98)){
          opacity: 0;
          transform: scale(0.5) translate(79%, -27%) rotate(26deg);
          transition: all .9s ease;
          .active-section & {
            opacity: 1;
            transform: scale(0.5) translate(0%, 0%) rotate(0deg);
            transition-delay: 1.3s;
          }
        }
      }
      &.img-tabl {
        transform: scale(0.5);
        @media (min-width:em(600.98)){
          opacity: 0;
          transform: scale(0.5) translate(0,29%);
          .active-section & {
            opacity: 1;
            transform: scale(0.5) translate(0,0);
            transition-delay: 2s;
          }
        }
      }
      &.img-pack {
        transform: scale(0.5);
        @media (min-width:em(600.98)){
          opacity: 0;
          transform: scale(0.5) translate(9%, -6%);
          .active-section & {
            opacity: 1;
            transform: scale(0.5) translate(0,0);
            transition-delay: 1.5s;
          }
        }
      }
      &.img-bag {
        transform: scale(0.5);
        @media (min-width:em(600.98)){
          opacity: 0;
          transform: scale(0.5) translate(-10%,14%);
          .active-section & {
            opacity: 1;
            transform: scale(0.5) translate(0%,0%);
            transition-delay: 1.85s;
          }
        }
      }
      &.img-doll {
        transform: scale(0.5);
        @media (min-width:em(600.98)){
          opacity: 0;
          transform: scale(0.5);
          .active-section & {
            opacity: 1;
            transition-delay: 1.65s;
          }
        }
      }
		}


}

// ----------------------------------------
// == 04 RESULT SECTION ===========================================
// ----------------------------------------
.result {
  @media (min-width: $mobile) and (min-height: em(1000.98)) {
    display: flex;
    align-items: center;
  }
  // .result__container
  &__container {
    position: relative;
    width: 100%;
     margin-top: rem(74);

    @include adaptiveValue("padding-bottom", 20, 25,0,1920,769);
    @include adaptiveValue("padding-bottom", 272, 192,3,768,360);

    @media (max-width:$mobile){
       overflow: hidden; 
    }
  }
  // .result__bg
  &__bg {
  }
  // .result__bg-img
  &__bg-img {
    padding-top: rem(20);
    &.img-pc-left {
      left: 0;
      transform: translateX(-100%);
      .active-section & {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.5s;
      }
      @media (max-width: em(1500.98)){
          left: -8%;
      }
      @media (max-width: em(1100.98)){
          left: -15%;
      }
      @media (max-width: em(950.98)){
          left: -35%;
      }
      @media (max-width:$mobile){
         display: none; 
      }
    }
    &.img-pc-right {
      right: 0;
      transform: translateX(100%);
      .active-section & {
        opacity: 1;
        transform: translateX(0);
        transition-delay: 0.5s;
      }
      @media (max-width: em(1500.98)){
        right: -15%;
      }
      @media (max-width: em(1100.98)){
          right: -30%;
      }
      @media (max-width: em(950.98)){
          right: -50%;
      }
      @media (max-width:$mobile){
         display: none; 
      }
    }
    &.img-tab-top {
      display: none;
      @media (max-width:$mobile){
         display: block;     
         position: absolute;
         z-index: -1;
         pointer-events: none;
         top: 0;
         left: 0;
         width: 100%;
         transform: scale(1.5);
         opacity: 0;
          transition: all 1s ease;
         .active-section & {
          opacity: 1;
          transform: scale(1);
          transition-delay: 0.7s;
         }
      }
    }
    &.img-tab-bottom {
      display: none;
      @media (max-width:$mobile){
         display: block; 
         position: absolute;
         z-index: -1;
         pointer-events: none;
         bottom: 0;
         left: 0;
         width: 100%;
         
         transform: scale(1.5);
         opacity: 0;
         transition: all 1s ease;
         .active-section & {
          opacity: 1;
          transform: scale(1);
          transition-delay: 0.7s;
         }
      }
    }
  }
  // .result__img-gift
  &__img-gift {
    position: absolute;
    z-index: -1;

    opacity: 0;
    transition: all 1.5s ease;

    &.gift-img-01 {
      bottom: -15%;
      left: 2%;
      transform: translateY(-100%);
      .active-section & {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 2.2s;
      }
      
      @media (max-width: em(1690.98)){
          bottom: -35%;
      }
      @media (max-width: em(1440.98)){
          width: rem(300);
          bottom: -18%;
      }
      @media (max-width:$mobile){
         bottom: -9%; 
         left: 27%;
      }
      @media (max-width:$mobileSmall){
        bottom: -4%; 
        left: 24%;
        width: rem(200);
      }
    }
    &.gift-img-02 {
      top: 18%;
      right: 3%;
      transform: scale(0.3) translateY(-100%);
      .active-section & {
        opacity: 1;
        transform:  scale(0.3) rotate(306deg) translateY(0%);
        transition-delay: 2.2s;
      }

      @media (max-width: em(1750.98)){
          right: -7%;
      }
      @media (max-width: em(1450.98)){
          display: none;
      }
    }
  }
  // .result__head
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(50);
    @include adaptiveValue("margin-bottom", 40, 32,0,1920,768);
    @include adaptiveValue("margin-bottom", 32, 30,3,768,480);
    @media (max-width:$mobileSmall){
       padding-top: rem(57); 
    }
  }
  // .result__logo
  &__logo {
    width: rem(40);
    height: auto;
    opacity: 0;
    transition: 1s ease;
    .active-section & {
      opacity: 1;
      transition-delay: 0.75s;
    }
    @media (max-width: $mobile){
      margin-bottom: rem(10);
    }
  }
  // .result__txt
  &__txt {
    text-align: center;
    font-family: "DS_Rada", sans-serif;
    // font-style: normal;
    // font-weight: 400;
    // line-height: normal;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 26, 30,0,1920,768);
    }
    span {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
      transition: all .5s ease;
    }
    // .result__txt_big
    &_big {
      font-family: "DS_Rada", sans-serif;
      color: $accentColor;
      @include adaptiveValue("font-size", 47, 34,0,1920,768);
      @include adaptiveValue("font-size", 34, 28,3,768,480);
      .active-section & {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.9s;
      }
    }
    // .result__txt_small
    &_small {
      color: $accentColor-02;
      @include adaptiveValue("font-size", 17, 26,0,1920,768);
      @include adaptiveValue("font-size", 26, 20,3,768,480);
      .active-section & {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1.2s;
      }
    }
  }
  // .result__title
  &__title {
    color: $accentColor;
    opacity: 0;
    // transform: translateY(100%);
    transition: all 1s ease;
    .active-section & {
      opacity: 1;
      transition-delay: 1.5s;
    }
    br {
      @media (max-width: em(600.98)){
          display: none;
      }
    }
  }
  // .result__body
  &__body {
    max-width: rem(1050);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width:$mobile){
       flex-direction: column; 
       row-gap: rem(59);
    }
    @media (max-width:$mobileSmall){
       row-gap: rem(50); 
    }
  }
  // .result__info
  &__info {
    width: 50%;
    padding-right: rem(63);
    @media (max-width: em(900.98)){
        padding-right: rem(20);
    }
    @media (max-width:$mobile){
       padding-right: unset; 
       width: 100%;
       max-width: rem(498);
       margin: 0 auto;
    }
  }
  // .result__form
  &__form {
    width: 50%;
    padding-left: rem(26);
    @media (max-width:$mobile){
        padding-left: unset;
        width: 100%;
    }
  }
	// .result__rules-body
	&__rules-body {
    margin-top: rem(20);
    position: relative;
    z-index: 0;
    opacity: 0;
    transition: all 1s ease;
    .active-section & {
      opacity: 1;
      transition-delay: 2s;
    }
	}
	// .result__rules-link
	&__rules-link {
    display: block;
    text-align: center;
    @include adaptiveValue("font-size", 22, 18,0,768,480);
    font-weight: 600;
    line-height: 1.3;
    transition: all .3s ease;
    @media (any-hover: hover){
      &:hover{
        opacity: 0.8;
      }
    }
	}
}

.info-result {
  // .info-result__box
  &__box {
    position: relative;
    background-color: $accentColor;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: rem(30);
    @include adaptiveValue("padding-top", 50, 30,0,1920,768);
    @include adaptiveValue("padding-bottom", 33, 30,0,1920,768);
    padding-left: rem(20);
    padding-right: rem(20);

    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50%);
    .active-section & {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 1.7s;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 34, 40,0,1920,768);
      @include adaptiveValue("margin-bottom", 40, 33,3,768,480);
    }
  }
  // .info-result__txt
  &__txt {
    color: white;
    text-align: center;
    @include adaptiveValue("font-size", 22, 20,0,1920,768);
    font-weight: 600;
    line-height: 1.3;
    span {
      @include adaptiveValue("font-size", 54, 48,0,1920,768);
      font-weight: 700;
    }
  }
  // .info-result__img
  &__img {
    height: auto;
    position: absolute;
    &.img-01 {
      right: -12%;
      bottom: -7%;
      @include adaptiveValue("width", 145, 98,0,1920,768);
      @media (max-width:$mobile){
         right: -2%; 
      }
    }
    &.img-02 {
      top: -4%;
      right: -6%;
      @include adaptiveValue("width", 70, 40,0,1920,768);
      @media (max-width:$mobile){
         right: -2%; 
         top: -5%;
      }
    }
    &.img-03 {
      top: 0%;
      left: -8%;
      @include adaptiveValue("width", 100, 60,0,1920,768);
      @media (max-width:$mobile){
         top: -7%;
         left: -3%; 
      }
    }
  }
  // .info-result__txt-main
  &__txt-main {
    text-align: center;
    @include adaptiveValue("font-size", 22, 18,0,768,480);
    font-weight: 600;
    line-height: 1.3;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 35, 30,0,1920,768);
    }

    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50%);
    .active-section & {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 1.9s;
    }
  }
  // .info-result__social
  &__social {
    display: flex;
    justify-content: space-evenly;
    @media (max-width:$mobileXS){
       justify-content: space-between; 
    }
  }
}

.social-icon {
  // .social-icon__item
  &__item {
    display: block;
    border-radius: 50%;
    @include adaptiveValue("width", 93, 82,0,1920,768);
    @include adaptiveValue("height", 93, 82,0,1920,768);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;

    background: linear-gradient(180deg, #F2E31F 0%, #BD9120 70.39%);
    box-shadow: 5px 11px 0px 0px #FFF;
    &:hover {
      background: linear-gradient(180deg, #487A9B 0%, #33506E 100%), linear-gradient(180deg, #E6E058 15.28%, #BD9120 70.39%);
    }

    opacity: 0;
    transition: all .75s ease;
    transform: translateY(100%);
    .active-section & {
      opacity: 1;
      transform: translateY(0%);
      &:nth-child(1) {
        transition-delay: 2.1s;
      }
      &:nth-child(2) {
        transition-delay: 2.25s;
      }
      &:nth-child(3) {
        transition-delay: 2.4s;
      }
    }

    img {
      width: auto;
      @include adaptiveValue("height", 40, 35,0,1920,768);
    }
  }
}

.form-result {
  // .form-result__body
  &__body {
    position: relative;
    z-index: 1;
    max-width: rem(497);
    background-color: #ffffff;
    border-radius: rem(30);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
    @include adaptiveValue("padding-top", 50, 30,0,768,480);
    @include adaptiveValue("padding-right", 50, 30,0,768,480);
    @include adaptiveValue("padding-bottom", 50, 30,0,768,480);
    @include adaptiveValue("padding-left", 50, 30,0,768,480);

    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50%);
    .active-section & {
      opacity: 1;
      transform: translateY(0%);
      transition-delay: 1.7s;
    }

    @media (max-width:$mobile){
       margin: 0 auto; 
    }
    .form__input {
      &::placeholder {
				transition: opacity 0.3s;
				color: rgba(0, 0, 0, 0.20);
			}
			&:focus::placeholder {
				opacity: 0;
			}
    }
  }
  // .form-result__form
  &__form {
  }
	// .form-result__label
	&__label {
    @include adaptiveValue("font-size", 22, 16,0,768,480);
	}
  // .form-result__textarea
  &__textarea {
      resize: none;
      min-height: rem(142);
      @media (max-width:$mobileSmall){
         min-height: rem(114); 
      }
    
  }
  // .form-result__phone
  &__phone {
  }
}


// RULES PAGE ==================================
// ============================
.rules {
  @include adaptiveValue("padding-top", 100, 50);
  @include adaptiveValue("padding-bottom", 100, 50);
  color: black;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3;
  @include adaptiveValue("font-size", 22, 16);
  span {
    font-weight: 700;
  }
  a {
    color: blue;
    text-decoration: underline;
  }
  // .rules__container
  &__container {
    max-width: rem(1200);
    margin: 0 auto;
  }
	// .rules__title
	&__title {
    font-weight: 700;
    text-align: center;
    @include adaptiveValue("margin-bottom", 25, 15);
	}
	// .rules__block
	&__block {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 25, 15);
    }
	}
	// .rules__subtitle
	&__subtitle {
    font-weight: 700;
	}
	// .rules__list
	&__list {
	}
	// .rules__li
	&__li {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
	}
}
